.svg_map path {
    stroke:  #fff;
    stroke-width: 1px;
    transition : background-color 0.3s

}

.svg_map path:hover {
    fill: rgb(18, 179, 31) !important;
    stroke:  #fff;
    stroke-width: 1px;
    box-shadow: 10px 10px 5px 12px lightblue;
    transition : background-color 0.3s

}